#gallery {
	width:650px;
	padding:5px;
	box-sizing: border-box;
	background: #E2EAE2;
	position:relative;
	.featureHolder {
		position: relative;
		width:640px;
		height:480px;
		margin:0 auto;
	}
	ul {
		margin: 0;
		padding: 0;
		white-space: nowrap;
		height:75px;
		li {
			display:inline-block;
			cursor: pointer;
			margin-right: 1px;
		}
	}
	.active{
		border:2px solid #00FF00;
		box-sizing:border-box;
	}
	.galleryThumbs {
		margin-top: 5px;
		overflow: hidden;
		.galleryThumb {
			height:75px;
			width:100px;
		}
	}
}
.clear {
	clear:both;
}