#gallery {
	width:650px;
	padding:5px;
	box-sizing: border-box;
	background: #E2EAE2;
	.featureHolder {
		position: relative;
		width:640px;
		height:480px;
		margin:0 auto;
	}
	ul {
		margin: 0;
		padding: 0;
		white-space: nowrap;
		height:75px;
		li {
			display:inline-block;
			
		}
	}
	.galleryThumbs {
		margin-top: 5px;
		overflow: hidden;
		.active{
			border:2px solid #00FF00;
			box-sizing:border-box;
		}
	}
}